<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
    <span class="todo-count"><strong>{{pendientes}}</strong> item left</span>
    <ul class="filters">
        <li *ngFor="let filtro of filtros">
            <a (click)="cambiarFiltro(filtro)" [class.selected]='filtroActual === filtro'>{{filtro}}</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed">Clear completed</button>
</footer>